@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import './stylekit.css';

body {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: var(--color-background);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: var(--fz-text-regular);
  line-height: var(--line-height);
}
#content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
