@import './stylekit.css';

body {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: var(--color-background);
  font-weight: 400;
  font-size: var(--fz-text-regular);
  line-height: var(--line-height);
}
#content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: inherit;
}


