:root {
	--color-primary: #2c2c2c;
	--color-background: #ffffff;
	--color-black: #000000;
	--color-white: #f5f5f5;
	--color-border: #d9d9d9;
	--color-text: #757575;

	--line-height: 150%;
	--fz-headline-section: 48px;
	--fz-headline-3: 24px;

	--fz-text-regular: 16px;

	--container: min(1200px, 99%);

	--transition: all .3s ease-in-out;
}
