.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 50px 30px;
  background-color: var(--color-white);
  flex-wrap: wrap;
  gap: 30px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 464px;
  .title {
    color: var(--color-black);
    font-size: var(--fz-headline-section);
    font-weight: 700;
    line-height: var(--line-height);
  }
  .text {
    line-height: var(--line-height);
    text-wrap: balance;
  }
}
.frame {
  width: min(100%, 530px);
  aspect-ratio: 2 / 1;
  & > iframe {
    width: inherit;
    height: 100%;
  }
}
